@charset "UTF-8";
/* CSS Document */

body {    
    margin: 0 !important;
    padding: 0 !important;
	background-color:#FFF;
	font-family:"Helvetica Neue", Arial, sans-serif;
}

header {
	position: fixed;	
	width: 100%;
	font-family:"Helvetica Neue", Arial, sans-serif;
    font-weight:200;
    -webkit-font-smoothing:antialiased;
	font-size:20px;
    height: auto;
	background-color:#FFF;
    overflow: hidden;
	margin-top:15px;
	margin-left:30px;
	margin-top:0;
	
}

li {
	display: inline;
	}


a {
    padding: 8px;
    background-color: #black;
	color:#CCC;
	text-decoration: none;
	
}

a:hover {
	color:black;
	transition: 1s;
	}

article {
	
	font-size:16px;
	font-weight:100;
	padding-left: 70px;
	padding-top: 100px;
}




.video {
    position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}

.video-text {
	padding-left:500px;
	}

	
h1{    
  
    font-size: 60px;    
    display:inline;
    
}
	
h2{    
  
    font-size: 20px;    
    display:inline;
    
}

.text {
	font-family:"Helvetica Neue", Arial, sans-serif;
    font-weight:200;
    -webkit-font-smoothing:antialiased;
	font-size:20px;
}


.content {
	width: 80%;}
	
footer {
  position: fixed;
  bottom: 0;
  padding-bottom: 50px;
  right: 40px;
  margin-right:50px;
}





