body {font-family: Calibri, "Helvetica Neue", Arial, sans-serif;
    font-weight:200;}

#welcome {
	display:none;
	opacity: 0.9; 
	position: absolute;
	left:30%;
	top: 20vh;
 }  




.text, .text-right, .text-left {font-size:20px;}
.text {color: black;}
.text-right {
	color: #666;
	padding-left:70px;
	padding-right:10px;
}

.text-left {
	color: #666;
	padding-right:70px;
	padding-left:10px;
}

p {margin: 20px;
    margin-left: 40px;
}

h2{    
   font-size: 25px;
   margin-top: 10px;
   margin-bottom: 10px;    

}

/* The side navigation menu */
.sidenav {
    height: auto;
    position: fixed;
    padding-top: 0;
	margin-top: 0;
    overflow: hidden; 
	display:inline;
}

/* The navigation menu links */
.sidenav a {
    height: auto;
    text-decoration: none;
}

.closebtn {
    font-size: inherit;
	padding: 15px;
	color: black;
	background-color: white;
}


footer {
	position:fixed;
	bottom: 0;
	
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow:scroll;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: auto;
    max-width: 700px;
	z-index: 100;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#lang {
	position:absolute;
	bottom: 10vh;
	right: 5vw;
}
